
  <div class="form login-form" >
    <div class="form-group ">
      <h1 class="logo"><%= image_tag ("logo.gif") %>  </h1>
    </div>
    <div class="form-group ">
      <button type="button" class="btn btn-light">Enter Game</button>
      <%= link_to 'Create Game', new_partida_path,  :class => "btn "%>
    </div>
  </div>


